<html>
<head>
  <title>Friends</title>
</head>
<body>
  <h1>Friends:</h1>
  <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Friend Since</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for friend in all_friends: %}
        <tr>
            <td>{{ friend["name"]}}</td>
            <td>{{ friend["age"]}}</td>
            <td>{{ friend["date"]}}</td>
            <td>{{ friend["year"]}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
  
  <hr>
  <h2>Add a Friend</h2>
  <form action='/new' method='POST'>
    <label for="name">Name:<input type="text" name="name" id="name"></label>
    <label for="age">Age:<input type="text" name="age" id="age"></label>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
