<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Success Page</title>
    </head>
    <body>
        <div class="confirm">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <p>You are logged in</p>
        <td><form action='/logout' method='post'><input type='Submit' value='logout'></form></td>
    </body>

</html>